{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moveit</title>
    <!-- fontawesome cdn link -->
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css' %}" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!-- custom css link -->
    <link href="{% static 'home.css' %}" rel="stylesheet" >

</head>

<body>
    <section class="home">
        <div class="intro">
            <div class="name">
                <h1>move it</h1>
            </div>
            <div class="content">
                <p>Need to move your things? Or need to rent Stress no more we can help</p>
            </div>
            <div class="buttons">
                <button class="btn" id="signIn"><a href="Accounts/login">sign in</a></button>
                <button class="btn" id="signUp"><a href="Accounts/register">sign up</a></button>
            </div>
        </div>
    </section>

</body>

</html>